section {
  width: 100vw;
  height: 87.6vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main {
  width: 75vw;
  height: 60vh;
  background: rgb(209, 209, 209);
}
li {
  margin-left: 40px;
}
ol {
  list-style-type: decimal;
}

.button-container {
  width: 75vw;
  display: flex;
  justify-content: space-between;
}

h4 {
  color: white;
}
